---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const categories = await getCollection(
    "categories",
    (cat) => cat.data.parentId === 0
  );
  return categories.map((entry) => {
    return {
      params: { category: entry.id },
      props: { entry },
    };
  });
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
---

<BaseLayout title={entry.data.name} description={entry.data.description}>
  <div
    class="flex flex-col items-center justify-center gap-4 rounded-lg bg-zinc-900 py-12">
    <h1 class="text-4xl font-black uppercase">{entry.data.name}</h1>
    <div class="text-sm uppercase tracking-wider">{entry.data.description}</div>
  </div>
</BaseLayout>
