---
import PageLayout from "@layouts/PageLayout.astro";

const title = "About Us";
const description = "TODO: Add description";
---

<PageLayout {title} {description} heading={title}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque,
    quo in non doloremque eveniet veniam, quia architecto quibusdam corporis,
    nihil quidem eum accusamus magni ea aut eligendi voluptatum nulla.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque,
    quo in non doloremque eveniet veniam, quia architecto quibusdam corporis,
    nihil quidem eum accusamus magni ea aut eligendi voluptatum nulla.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque,
    quo in non doloremque eveniet veniam, quia architecto quibusdam corporis,
    nihil quidem eum accusamus magni ea aut eligendi voluptatum nulla.
  </p>
</PageLayout>
