---
import PageLayout from "@layouts/PageLayout.astro";

const title = "Contact";
const description = "Thanks for wanting to get in touch. If you have ...";
---

<PageLayout {title} {description} heading="Contact">
  <p>Thanks for wanting to get in touch.</p>

  <p>
    If you have been banned from one of our servers, you must fill out a <a
      class="text-cyan-500"
      href="/appeal/"
      data-type="URL"
      data-id="https://www.ghostcap.com/appeal/">ban appeal form</a
    >. Your request will be ignored if it's posted anywhere else.
  </p>

  <p>
    If you want to advertise with GhostCap on our website, Discord or anywhere
    else, please check out our <a
      class="text-cyan-500"
      href="/sponsorships/"
      type="URL"
      id="https://www.ghostcap.com/sponsorships/">sponsorships page</a
    >.
  </p>

  <p>
    You can also contact us any time via our <a
      class="text-cyan-500"
      href="https://www.facebook.com/ghostcapgaming/"
      data-type="URL"
      data-id="https://www.facebook.com/ghostcapgaming/"
      target="_blank"
      rel="noopener">Facebook</a
    > page or <a
      class="text-cyan-500"
      href="/discord"
      data-type="URL"
      data-id="https://www.ghostcap.com/discord">Discord</a
    >.
  </p>

  <iframe
    data-tally-src="https://tally.so/embed/nrByQo?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
    loading="lazy"
    width="100%"
    height="292"
    title="
"></iframe>
</PageLayout>

<script lang="js">
  var d = document,
    w = "https://tally.so/widgets/embed.js",
    v = function () {
      "undefined" != typeof Tally
        ? Tally.loadEmbeds()
        : d
            .querySelectorAll("iframe[data-tally-src]:not([src])")
            .forEach(function (e) {
              e.src = e.dataset.tallySrc;
            });
    };
  if ("undefined" != typeof Tally) v();
  else if (d.querySelector('script[src="' + w + '"]') == null) {
    var s = d.createElement("script");
    (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
  }
</script>
