---
import "../styles/tailwind.css";
import "../styles/fonts.css";

import Latest from "@components/Latest.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Gaming from "@components/Gaming.astro";
import ServerHosting from "@components/ServerHosting.astro";
import Footer from "@components/Footer.astro";
import Hardware from "@components/Hardware.astro";
import StartNow from "@components/StartNow.astro";
import PopCat from "@components/PopCat.astro";
---

<html class="scrollable" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="mx-auto max-w-screen-2xl space-y-6 bg-zinc-950 p-4">
    <Header />
    <Hero />
    <Latest />
    <StartNow />
    <Gaming />
    <PopCat categories={["Counter Strike", "Minecraft", "Rust", "Valorant"]} />
    <ServerHosting />
    <PopCat categories={["Hosting Guides", "Hosting Reviews"]} />
    <Hardware />
    <Footer />
  </body>
</html>
