---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<div
  class="grid-rows-[minmax(auto,_max-content] grid bg-zinc-900 transition-all duration-500 hover:-translate-y-2 hover:opacity-80 sm:grid-cols-[minmax(0,_2fr)_minmax(0,_3fr)] md:grid-cols-1 lg:grid-cols-[minmax(0,_2fr)_minmax(0,_3fr)]">
  {
    post.data.featuredMedia && (
      <Image
        class="h-full min-h-[200px] grow rounded-xl object-cover"
        src={post.data.featuredMedia.src}
        alt={post.data.featuredMedia.alt || ""}
        sizes={
          "(max-width: 639px) 100vw, (max-width: 767px) 40vw, (max-width: 1023px) 50vw, (max-width: 1595px) 20vw, 294px"
        }
        widths={[294, 384, 425, 512, 640]}
        loading="eager"
      />
    )
  }
  {
    !post.data.featuredMedia && (
      <div class="aspect-video w-full rounded-xl bg-zinc-700" />
    )
  }
  <div class="flex flex-col justify-center gap-2 p-4 sm:p-8">
    <time
      class="text-sm text-zinc-500"
      datetime={new Date(post.data.createdAt).toISOString()}
      >{
        new Date(post.data.createdAt).toLocaleDateString(undefined, {
          month: "long",
          day: "numeric",
          year: "numeric",
          timeZone: "UTC",
        })
      }</time
    >
    <h3 class="text-lg font-bold text-white">{post.data.title}</h3>
    <p class="line-clamp-2 text-zinc-400">{post.data.description}</p>
    <div class="text-lime-500">Read Post</div>
  </div>
</div>
