---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
  featured?: boolean;
  eager?: boolean;
};
const { post, featured = false, eager = false } = Astro.props;
---

<a
  href={`/${post.slug}`}
  class:list={[
    "flex items-center transition-transform duration-500 hover:-translate-y-2 hover:opacity-90",
    { "flex-col": !featured },
    { "gap-6": !featured },
    { "col-span-4": featured },
    { "gap-16": featured },
  ]}>
  {
    post.data.featuredMedia && post.data.featuredMedia.alt && (
      <Image
        class:list={["rounded-xl", { "w-[calc(50%-20px)]": featured }]}
        src={post.data.featuredMedia.src}
        alt={post.data.featuredMedia.alt || ""}
        loading={eager ? "eager" : "lazy"}
      />
    )
  }
  {
    !post.data.featuredMedia && (
      <div class="aspect-video w-full rounded-xl bg-zinc-700" />
    )
  }
  <div class="flex flex-col gap-1">
    <time
      class="text-sm text-zinc-500"
      datetime={new Date(post.data.createdAt).toISOString()}
      >{
        new Date(post.data.createdAt).toLocaleDateString(undefined, {
          month: "long",
          day: "numeric",
          year: "numeric",
          timeZone: "UTC",
        })
      }</time
    >
    <h3 class="text-lg font-medium text-white">{post.data.title}</h3>
  </div>
</a>
