---
import { Icon } from "astro-icon/components";
---

<section
  class="space-y-4 rounded-xl bg-[image:linear-gradient(rgba(78_70_230_/_0.5),_rgba(78_70_230_/_0.5)),_url('/gcmback.jpg')] px-6 py-28">
  <h1 class="font-black uppercase leading-tight text-white/80">
    Your Gateway to Unforgettable Gaming Adventures
  </h1>
  <div class="uppercase leading-tight tracking-wider text-white/80">
    With a wide range of games and a thriving community, we've created a gaming
    experience that's second to none. Are you ready to join us?
  </div>
  <div
    class="flex max-w-fit items-center gap-3 rounded-md bg-lime-400 px-6 py-2 text-black">
    <Icon class="size-8" name="fa6-brands:discord" />
    <a class="text-sm uppercase" href="https://www.ghostcap.com/discord"
      >Join us now</a
    >
  </div>
</section>
