---
import { getImage } from "astro:assets";
import { Icon } from "astro-icon/components";
import gcmback_jpg from "@assets/gcmback.jpg";

const gcmback = await getImage({ src: gcmback_jpg, quality: 80 });
---

<section
  class="space-y-4 rounded-xl px-3 py-12 sm:px-6 md:py-20 lg:py-28"
  style={`background-image: linear-gradient(rgba(78,70,230,0.5), rgba(78,70,230,0.5)), url(${gcmback.src});`}>
  <h1 class="font-black uppercase leading-tight text-white/80">
    Your Gateway to Unforgettable Gaming Adventures
  </h1>
  <div class="uppercase leading-tight tracking-wider text-white/90">
    With a wide range of games and a thriving community, we've created a gaming
    experience that's second to none. Are you ready to join us?
  </div>
  <div
    class="flex max-w-fit items-center gap-3 rounded-md bg-lime-400 px-6 py-2 text-black">
    <Icon class="size-8" name="fa6-brands:discord" aria-hidden="true" />
    <a class="text-sm uppercase" href="https://www.ghostcap.com/discord"
      >Join us now</a
    >
  </div>
</section>
