<ul class="flex gap-5">
  <li>
    <a class="uppercase text-zinc-100" href="https://www.ghostcap.com/discord"
      >Discord</a>
  </li>
  <li><a class="uppercase text-zinc-100" href="/gaming">Gaming</a></li>
  <li><a class="uppercase text-zinc-100" href="/hardware">Hardware</a></li>
  <li>
    <a class="uppercase text-zinc-100" href="/server-hosting">Server Hosting</a>
  </li>
  <li><a class="uppercase text-zinc-100" href="/tools">Tools</a></li>
</ul>
