<ul class="flex gap-5">
  <li><a class="uppercase text-zinc-100" href="#">Discord</a></li>
  <li><a class="uppercase text-zinc-100" href="#">Gaming</a></li>
  <li><a class="uppercase text-zinc-100" href="#">Hardware</a></li>
  <li><a class="uppercase text-zinc-100" href="#">Server Hosting</a></li>
  <li><a class="uppercase text-zinc-100" href="#">Tools</a></li>
</ul>
