---
type Props = {
  categories: { name: string; link: string }[];
};
const { categories } = Astro.props;
---

<section
  class="flex max-w-fit items-center gap-8 rounded-xl bg-zinc-900 px-8 py-12">
  <div class="uppercase text-zinc-100">Popular Categories</div>
  <ul class="flex items-center gap-8">
    {
      categories.map((category) => (
        <li class="">
          <a
            class="rounded-md bg-zinc-950 px-8 py-4 font-bold uppercase text-white"
            href={category.link}>
            {category.name}
          </a>
        </li>
      ))
    }
  </ul>
</section>
