---
type Props = {
  categories: { name: string; link: string }[];
};
const { categories } = Astro.props;
---

<section
  class="mx-auto flex max-w-fit flex-col items-center gap-6 rounded-xl bg-zinc-900 p-8 lg:mx-0 lg:flex-row">
  <div class="uppercase text-zinc-100">Popular Categories</div>
  <ul class="flex flex-col items-center gap-6 lg:flex-row">
    {
      categories.map((category) => (
        <li class="py-2">
          <a
            class="rounded-md bg-zinc-950 px-8 py-4 font-bold uppercase text-white"
            href={category.link}>
            {category.name}
          </a>
        </li>
      ))
    }
  </ul>
</section>
