---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-3">
  <input
    class="rounded-lg border border-zinc-500 bg-zinc-800 p-2 text-sm text-white"
    type="text"
    placeholder="Search here..."
  />
  <Icon class="size-8 text-white" name="mdi:search" />
</div>
